
:root {
    --primary: #ffffff;
    --bg: #E2852E;
    --text: #ffffff;
    --transition_color: #ffb380;
    --radius: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--bg);
    color: var(--text);
}

nav {
    position: sticky;
    top: 0;
    background: var(--bg);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    z-index: 10;
}

nav h2 {
    font-size: 1.5rem;
    font-weight: 550;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

nav a {
    text-decoration: underline;
    color: var(--text);
    font-weight: 550;
    transition: 0.3s;
    padding-top: 0.3rem;
}

nav a:hover {
    color: var(--transition_color);
}

.intro h1 {
    text-align: center;
    padding: 5rem;
    font-size: 3rem;
    font-weight: 550;
}

.intro img {
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 0.5rem solid var(--primary);
}

.intro a {
    display: block;
    width: fit-content;
    margin: 2rem auto;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border: none;
    background: #E2852E;
    box-shadow: 0rem 0rem 0rem 0.2rem var(--primary);
    color: rgb(255, 255, 255);
    border-radius: var(--radius);
    text-decoration: none;
    text-align: center;
    font-weight: 550;
    transition: 0.3s;
}

/* This is where the about me page styles will go */

.about_me .header ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    list-style: none;
    padding: 5rem;
}

.about_me .header ul h1 {
    text-align: center;
    padding: 1.5rem 3rem; 
    padding-right: 12rem;
    font-size: 3rem;
    font-weight: 550;
}

.about_me .header ul img {
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 0.2rem solid var(--primary);
}

.about_me .header h3 {
    text-align: center;
    padding: 2rem 3rem; 
    font-size: 1.5rem;
    font-weight: 550;
}

.about_me .lists ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 2rem;
}

.about_me .lists .list_one {
    justify-content: left;
    display: block;
    width: 15rem;
    height: 20rem;
    margin: 3rem;
    border: 0.1rem solid var(--primary);
    background: var(--bg);
    box-shadow: 0rem 0rem 0rem 0.2rem var(--primary);
    border-radius: 2rem;
    text-align: center;
    font-weight: 550;
}

.about_me .lists .list_one h2 {
    font-size: 1.5rem;
    padding-top: 1rem;
}

.about_me .lists .list_one ul {
    display: flex;
    flex-direction: column;
    list-style: inside;
    gap: 1rem;
}

.about_me .lists .list_one ul li {
    font-size: 1.2rem;
    padding-top: 1rem;
}

.about_me .lists .list_two {
    justify-content: left;
    display: block;
    width: 15rem;
    height: 20rem;
    margin: 3rem;
    border: 0.1rem solid var(--primary);
    background: var(--bg);
    box-shadow: 0rem 0rem 0rem 0.2rem var(--primary);
    border-radius: 2rem;
    text-align: center;
    font-weight: 550;
}

.about_me .lists .list_two h2 {
    font-size: 1.5rem;
    padding-top: 1rem;
}

.about_me .lists .list_two ul {
    display: flex;
    flex-direction: column;
    list-style: inside;;
    gap: 1rem;
}

.about_me .lists .list_two ul li {
    font-size: 1.2rem;
    padding-top: 1rem;
}

.about_me hr {
    border: none;
    height: 0.2rem;
    background-color: var(--primary);
    width: 100%;
}

.about_me .pictures {
    background-image: url("../../assets/skateboardFountain.jpg");
    height: auto;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 1rem;
}

.about_me .pictures img {
    width: 300px;
    height: auto;
    display: block;
    margin: 2rem auto;
    border-radius: 1rem;
    border: 0.2rem solid var(--primary);
}

/* This is where the projects page styles will go */

.projects_page h1 {
    text-align: center;
    padding: 5rem;
    font-size: 3rem;
    font-weight: 550;
}

.projects_page .projects_list ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    text-align: center;
    gap: 3rem;
    padding: rem;
}

.projects_page .projects_list ul a { 
    text-decoration: none;
    color: var(--text);
    transition: 0.3s;
}

.projects_page .projects_list ul a:hover {
    color: var(--transition_color);
}

.projects_page .projects_list ul li ul {
    display: flex;
    flex-direction: column;
    list-style: inside;
    gap: 1rem;
    padding-top: 1rem;
}